.App {
  text-align: center;
}

body {
  background: black;
  color: white;
}

#title {
  font-size: 60px;
  font-family: 'Fjalla One', sans-serif;
}

#allPlaces {
  display: flex;
  justify-content: space-around;
}

.name {
  color: lightpink;
  font-size: 30px;
}




